{
  "swagger": "2.0",
  "info": {
    "title": "Google Ads Custom Connector",
    "description": "Power Automate Custom Connector for Google Ads API. Executes GAQL (Google Ads Query Language) queries against a single search endpoint. Monitoring logic (COST_ZERO, BUDGET_OVERSPEND, CTR_FLUCTUATION, SEM_HIGH_CPA) is handled by the Power Automate Flow.",
    "version": "2.0.0",
    "contact": {
      "name": "SEM Ops Team"
    }
  },
  "host": "googleads.googleapis.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "tokenUrl": "https://oauth2.googleapis.com/token",
      "scopes": {
        "https://www.googleapis.com/auth/adwords": "Manage and view your Google Ads campaigns"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": ["https://www.googleapis.com/auth/adwords"]
    }
  ],
  "paths": {
    "/v18/customers/{customerId}/googleAds:search": {
      "post": {
        "operationId": "GoogleAdsSearch",
        "summary": "Execute Google Ads Query (GAQL)",
        "description": "Execute a GAQL (Google Ads Query Language) query against the Google Ads API. The query determines what data is returned — campaigns, ad groups, keywords, or metrics. Used by the monitoring flow to check COST_ZERO, BUDGET_OVERSPEND, CTR_FLUCTUATION, and SEM_HIGH_CPA conditions.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Google Ads Customer ID (10-digit, without dashes)",
            "x-ms-summary": "Customer ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "developer-token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Google Ads API Developer Token",
            "x-ms-summary": "Developer Token",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "login-customer-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "MCC (Manager) Account ID — required when accessing client accounts via MCC",
            "x-ms-summary": "Login Customer ID (MCC)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["query"],
              "properties": {
                "query": {
                  "type": "string",
                  "description": "GAQL query string. Determines what data is returned. Example: SELECT campaign.id, metrics.cost_micros FROM campaign WHERE segments.date DURING YESTERDAY",
                  "x-ms-summary": "GAQL Query"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query executed successfully. Results vary based on the GAQL query fields.",
            "schema": {
              "$ref": "#/definitions/GoogleAdsSearchResponse"
            }
          },
          "400": {
            "description": "Invalid GAQL query syntax or unsupported fields"
          },
          "401": {
            "description": "OAuth token invalid or expired"
          },
          "403": {
            "description": "Insufficient permissions or invalid Developer Token"
          },
          "404": {
            "description": "Customer ID not found — occurs when using a test Developer Token to query a real (non-test) account"
          },
          "429": {
            "description": "API quota exceeded"
          }
        }
      }
    }
  },
  "definitions": {
    "GoogleAdsSearchResponse": {
      "type": "object",
      "description": "Response from Google Ads search query. Fields present depend on what was requested in the GAQL query.",
      "properties": {
        "results": {
          "type": "array",
          "description": "Array of result rows matching the GAQL query",
          "items": {
            "type": "object",
            "properties": {
              "campaign": {
                "type": "object",
                "description": "Campaign-level fields (present when campaign fields are in SELECT)",
                "properties": {
                  "resourceName": { "type": "string" },
                  "id": { "type": "string", "x-ms-summary": "Campaign ID" },
                  "name": { "type": "string", "x-ms-summary": "Campaign Name" },
                  "status": { "type": "string", "x-ms-summary": "Campaign Status" },
                  "startDate": { "type": "string", "x-ms-summary": "Campaign Start Date" },
                  "endDate": { "type": "string", "x-ms-summary": "Campaign End Date" }
                }
              },
              "adGroup": {
                "type": "object",
                "description": "Ad group-level fields (present when ad_group fields are in SELECT)",
                "properties": {
                  "resourceName": { "type": "string" },
                  "id": { "type": "string", "x-ms-summary": "Ad Group ID" },
                  "name": { "type": "string", "x-ms-summary": "Ad Group Name" },
                  "status": { "type": "string", "x-ms-summary": "Ad Group Status" }
                }
              },
              "adGroupCriterion": {
                "type": "object",
                "description": "Keyword-level fields (present when ad_group_criterion fields are in SELECT)",
                "properties": {
                  "criterionId": { "type": "string" },
                  "keyword": {
                    "type": "object",
                    "properties": {
                      "text": { "type": "string", "x-ms-summary": "Keyword Text" },
                      "matchType": { "type": "string", "x-ms-summary": "Match Type" }
                    }
                  }
                }
              },
              "metrics": {
                "type": "object",
                "description": "Performance metrics (present when metrics fields are in SELECT)",
                "properties": {
                  "costMicros": {
                    "type": "string",
                    "description": "Cost in micros (divide by 1,000,000 for actual currency value)",
                    "x-ms-summary": "Cost (Micros)"
                  },
                  "impressions": { "type": "string", "x-ms-summary": "Impressions" },
                  "clicks": { "type": "string", "x-ms-summary": "Clicks" },
                  "ctr": { "type": "number", "x-ms-summary": "CTR" },
                  "conversions": { "type": "number", "x-ms-summary": "Conversions" },
                  "costPerConversion": {
                    "type": "number",
                    "description": "Cost per conversion (CPA)",
                    "x-ms-summary": "CPA"
                  }
                }
              },
              "segments": {
                "type": "object",
                "description": "Segmentation fields (present when segments fields are in SELECT)",
                "properties": {
                  "date": { "type": "string", "x-ms-summary": "Date" }
                }
              }
            }
          }
        },
        "fieldMask": {
          "type": "string",
          "description": "Comma-separated list of fields returned in this response"
        },
        "requestId": {
          "type": "string",
          "description": "Unique identifier for this API request (use for debugging)"
        }
      }
    }
  }
}
